<div class="container-fluid" id="loginpage">
  <div class="col-md-12">
    <div class="d-flex justify-content-center">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">WELCOME ADMIN</h5>
          <p *ngIf="message" class="text-center error">{{message}}</p>
          <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="login()">
            <!-- <div class="form-group clearfix" [ngClass]="{ 'has-error': submitted && f.userid.errors }"> -->
              <label>Tên tài khoản</label>
              <input type="text" formControlName="userid" id="inputEmail" class="form-control form-control-sm" required
                autofocus [ngClass]="{'is-invalid':submitted && f.userid.errors}" autocomplete="off">
              <div *ngIf="submitted && f.userid.errors" class="invalid-feedback">
                <div *ngIf="f.userid.errors.required" class="error">Vui lòng nhập tên tài khoản</div>
              <!-- </div> -->
            </div>
            <div class="form-group clearfix" [ngClass]="{ 'has-error': submitted && f.password.errors }">
              <label>Mật khẩu</label>
              <input type="password" formControlName="password" id="inputPassword" class="form-control form-control-sm"
                required [ngClass]="{'is-invalid':submitted && f.password.errors}" autocomplete="off">
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required" class="error">Vui lòng nhập mật khẩu</div>
              </div>
            </div>
            <div class="form-group" id="btnSubmit">
              <button class="btn btn-primary btn-sm btn-block text-uppercase" type="submit">ĐĂNG NHẬP</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
