<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Đăng nhập thành viên</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="customerLoginForm" (ngSubmit)="loginCustomer()">
          <p *ngIf="message" class="text-center text-danger">{{message}}</p>
          <div class="form-group">
            <label>Tên tài khoản <span class="text-danger">*</span></label>
            <input type="email" class="form-control" formControlName="username" autofocus required [ngClass]="{'is-invalid':submitted && f.username.errors}">
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Mật khẩu <span class="text-danger">*</span></label>
            <input type="password" class="form-control" formControlName="password" required [ngClass]="{'is-invalid':submitted && f.password.errors}">
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Username is required</div>
            </div>
          </div>
          <div class="form-group">
            <label class="info">
              Bạn đã có tài khoản chưa? <a routerLink="/homepage/customerregistration">Đăng ký thành viên</a>
            </label>
          </div>
          <hr>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Đăng nhập</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
