<div class="card">
  <div class="card-body">
    <app-service></app-service>

    <!-- Datatable -->
    <table datatable id="service_table" class="table table-sm table-hover table-bordered" [dtOptions]="dtOptions"
      [dtTrigger]="dtTrigger">
      <thead class="text-center thead-blue">
        <tr>
          <th>Tên dịch vụ</th>
          <th>Mô tả</th>
          <th>Thời gian</th>
          <th>Giá</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let service of serviceList">
          <td>{{service.ServiceName}}</td>
          <td>{{service.descr}}</td>
          <td>{{service.TimeUnit}}</td>
          <td>{{service.Price}}</td>
          <td class="text-center" style="white-space: nowrap;">
            <a class="btn" (click)="onEdit(service)" (click)="open(content)">
              <i class="fa fa-pencil-square-o"></i>
            </a>
            <a class="btn" (click)="onDelete(service.$key)">
              <i class="fa fa-trash-o"></i>
            </a>
            <a class="btn" (click)="onEdit(service)" (click)="openDetail(contentDetail)">
              <i class="fa fa-info-circle"></i>
            </a>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr></tr>
      </tfoot>
    </table>
  </div>
</div>


<!-- Popup form -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Cập nhật thông tin dịch vụ</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #serviceForm="ngForm" (ngSubmit)="onSubmit(serviceForm)" name="myForm">
      <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="serviceService.selectedService.$key">

      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Tên dịch vụ <span class="text-danger">*</span></label>
        <div class="col-sm-9">
          <input class="form-control" name="ServiceName" #ServiceName="ngModel" [(ngModel)]="serviceService.selectedService.ServiceName"
            [ngClass]="{'is-invalid':ServiceName.touched && ServiceName.invalid}" required>
          <div class="invalid-feedback" *ngIf="ServiceName?.errors?.required">
            <div>{{requiredMsg}}</div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Mô tả</label>
        <div class="col-sm-9">
          <textarea class="form-control" name="descr" #descr="ngModel" [(ngModel)]="serviceService.selectedService.descr"></textarea>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Thời gian (Phút) <span class="text-danger">*</span></label>
        <div class="col-sm-9">
          <input class="form-control" name="TimeUnit" #TimeUnit="ngModel" [(ngModel)]="serviceService.selectedService.TimeUnit"
            [ngClass]="{'is-invalid':TimeUnit.touched && TimeUnit.invalid}" required>
          <div class="invalid-feedback" *ngIf="TimeUnit?.errors?.required">
            <div>{{requiredMsg}}</div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Giá <span class="text-danger">*</span></label>
        <div class="col-sm-9">
          <input class="form-control" name="Price" #Price="ngModel" [(ngModel)]="serviceService.selectedService.Price"
            [ngClass]="{'is-invalid':Price.touched && Price.invalid}" required>
          <div class="invalid-feedback" *ngIf="Price?.errors?.required">
            <div>{{requiredMsg}}</div>
          </div>
        </div>
      </div>

    </form>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" type="submit" [disabled]="!serviceForm.valid" (click)="onSubmit(serviceForm)"
      (click)="c('Save click')">
      <i class="fa fa-floppy-o"></i>
      Save</button>
  </div>
</ng-template>

<!-- Detail -->
<ng-template #contentDetail let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Thông tin dịch vụ</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #serviceForm="ngForm" name="myForm">
      <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="serviceService.selectedService.$key">

      <button type="button" class="btn btn-lg btn-primary col-md-12" disabled>{{serviceService.selectedService.ServiceName}}</button>
      <div class="row text-center">
        <div class="col-md-12">
          <p>
            <span class="font-weight-bold">Thời gian:</span> {{serviceService.selectedService.TimeUnit}} phút</p>
          <p>
            <span class="font-weight-bold">Giá:</span> {{serviceService.selectedService.Price}}</p>
          <p>
            <span class="font-weight-bold">Mô tả:</span> {{serviceService.selectedService.descr}}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" (click)="c('Save click')">Đóng</button>
      </div>
    </form>
  </div>
</ng-template>