<!-- Datatable -->
<div class="card">
  <div class="card-body">
    <table datatable id="booking_table" class="table table-hover table-bordered" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
      <thead class="text-center thead-blue">
        <tr>
          <th>Tên khách hàng</th>
          <th>Giới tính</th>
          <th>Điện thoại</th>
          <th>Stylish</th>
          <th>Ngày</th>
          <th>Giờ</th>
          <th>Trạng thái</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let booking of allBookingList">
          <td>{{booking.CustomerName}}</td>
          <td>{{booking.Gender}}</td>
          <td>{{booking.Phone}}</td>
          <td>{{booking.StaffName}}</td>
          <td>{{booking.Date}}</td>
          <td>{{booking.StartTime}}</td>
          <td *ngIf="booking.Status === 1" id="Tdwaiting">Đang chờ</td>
          <td *ngIf="booking.Status === 2" id="Tdconfirm">Đã xác nhận</td>
          <td *ngIf="booking.Status === 3" id="Tdcancel">Đã huỷ</td>
          <td class="text-center" style="white-space: nowrap;">
            <a *ngIf="booking.Status === 1" title="Xác nhận đơn đặt" class="btn" (click)="onConfirmBooking(booking.$key)">
              <fa name="check-circle"></fa>
            </a>
            <a title="Huỷ đơn đặt" *ngIf="booking.Status === 1" class="btn" (click)="onCancelBooking(booking.$key)">
              <i class="fa fa-trash"></i>
            </a>
            <a title="Xem thông tin đơn đặt" class="btn" (click)="onEdit(booking)" (click)="openDetail(contentDetail)">
              <i class="fa fa-info-circle"></i>
            </a>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr></tr>
      </tfoot>
    </table>
  </div>
</div>

<!-- Detail -->
<ng-template #contentDetail let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Thông tin đơn đặt</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #bookingForm="ngForm" name="myForm">
      <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="BookingService.selectedBooking.$key">

      <button type="button" class="btn btn-lg btn-primary col-md-12" disabled>{{BookingService.selectedBooking.CustomerName}}</button>
      <div class="row text-center">
        <div class="col-md-12">
          <p>
            <span class="font-weight-bold">Giới tính:</span> {{BookingService.selectedBooking.Gender}}</p>
          <p>
            <span class="font-weight-bold">Điện thoại:</span> {{BookingService.selectedBooking.Phone}}</p>
          <p>
            <span class="font-weight-bold">Dịch vụ:</span> {{BookingService.selectedBooking.Services}}</p>
          <p>
            <span class="font-weight-bold">Stylish:</span> {{BookingService.selectedBooking.StaffName}}</p>
          <p>
            <span class="font-weight-bold">Ngày:</span> {{BookingService.selectedBooking.Date}}</p>
          <p>
            <span class="font-weight-bold">Giờ:</span> {{BookingService.selectedBooking.StartTime}}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" (click)="c('Save click')">Close</button>
      </div>
    </form>
  </div>
</ng-template>