<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Đăng ký thành viên</h4>
      </div>
      <div class="card-body">
        <form #customerRegistrationForm="ngForm" (ngSubmit)="onSubmit(customerRegistrationForm)" name="customerRegistrationForm"
          id="customer-registration-form">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Họ tên <span class="text-danger">*</span></label>
              <input type="text" class="form-control" name="FullName" #FullName="ngModel" [(ngModel)]="customerService.selectedCustomer.FullName"
                required [ngClass]="{'is-invalid':FullName.touched && FullName.invalid}">
              <div class="invalid-feedback" *ngIf="FullName?.errors?.required">
                FullName is required!
              </div>
            </div>
            <div class="form-group col-md-3">
              <label>Giới tính <span class="text-danger">*</span></label>
              <select class="form-control custom-select" name="Gender" #Gender="ngModel" [(ngModel)]="customerService.selectedCustomer.Gender"
                required [ngClass]="{'is-invalid':Gender.touched && Gender.invalid}">
                <option selected>Nam</option>
                <option>Nữ</option>
              </select>
              <div class="invalid-feedback" *ngIf="Gender?.errors?.required">
                Gender is required!
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Số điện thoại <span class="text-danger">*</span></label>
              <input type="text" class="form-control" name="PhoneNumber" #PhoneNumber="ngModel" [(ngModel)]="customerService.selectedCustomer.PhoneNumber"
                required [ngClass]="{'is-invalid':PhoneNumber.touched && PhoneNumber.invalid}">
              <div class="invalid-feedback" *ngIf="PhoneNumber?.errors?.required">
                Phone number is required!
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Tên tài khoản <span class="text-danger">*</span></label>
              <input type="text" class="form-control" name="Username" #Username="ngModel" [(ngModel)]="customerService.selectedCustomer.Username"
                required [ngClass]="{'is-invalid':Username.touched && Username.invalid}">
              <div class="invalid-feedback" *ngIf="Username?.errors?.required">
                Username is required!
              </div>
            </div>
            <div class="form-group col-md-6">
              <label>Thành viên</label>
              <input type="text" class="form-control" name="Level" #Level="ngModel" [(ngModel)]="customerService.selectedCustomer.Level"
                readonly>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Mật khẩu <span class="text-danger">*</span></label>
              <input type="password" class="form-control" name="Password" #Password="ngModel" [(ngModel)]="customerService.selectedCustomer.Password"
                required [ngClass]="{'is-invalid':Password.touched && Password.invalid}">
              <div class="invalid-feedback" *ngIf="Password?.errors?.required">
                Password is required!
              </div>
            </div>
            <div class="form-group col-md-6">
              <label>Xác nhận mật khẩu</label>
              <input type="password" class="form-control" name="ConfirmPassword" #ConfirmPassword="ngModel" [(ngModel)]="customerService.selectedCustomer.ConfirmPassword"
                required compare="Password" [ngClass]="{'is-invalid':ConfirmPassword.touched && ConfirmPassword.invalid}">
              <div class="invalid-feedback" *ngIf="ConfirmPassword?.errors?.required">
                Confirm Password is required!
              </div>
              <div class="invalid-feedback" *ngIf="ConfirmPassword?.errors?.compare">
                Password does not match!
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>Địa chỉ</label>
              <textarea type="text" class="form-control" name="Address" #Address="ngModel" [(ngModel)]="customerService.selectedCustomer.Address"></textarea>
            </div>
          </div>
          <hr>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" [disabled]="!customerRegistrationForm.valid" (click)="onSubmit(customerRegistrationForm)">Đăng
              ký
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
